body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 20px;
}

.navbar {
    background-color: #00796b;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.submenu button {
    margin: 5px;
    padding: 8px;
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

.submenu button:hover {
    background-color: #00695c;
}

.section {
    margin: 20px auto;
    text-align: center;
    max-width: 600px;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

label {
    font-size: 1.4em;
    font-weight: bold;
    color: #004d40;
}

textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #004d40;
}

#countdown {
    font-size: 2.5em;
    margin: 20px 0;
    font-weight: bold;
}
